body {
  background-color: #e6ecf0;

}

.navbar {
  margin-bottom: 1rem;
}

.navbar a {
  font-weight: bold;
  color: white;
}

.navbar a:hover {
  color: white;
  opacity: .8;
  text-decoration: none;
  cursor: pointer;
}

.navbar-brand > img {
  display: inline-block;
  width: 20px;
  border-radius: 2px;
  margin-bottom: 2px;
  margin-right: 5px;
}

ul.nav.navbat-nav li {
  margin: 0 0.5rem;
}

.onboarding > .navbar {
  background-image: url('./images/nav-bg.png');
  background-size: 100% 100%;
}
